@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Colores que utilizaré:
#FF161F #F2F2F2

Familia Tipográfica: 'Poppins', sans-serif;
*/

/* Inicio del header */

body{
    position: relative;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #FF161F;
}

a{
    text-decoration: none;
    font-weight: 650;
    color: #F2F2F2;
}

.navBar{
    display: flex;
    list-style: none;
}

.navBar .navBar_list{
    padding: 0px 20px;
}

.navBar .navBar_list a{
    transition: all .3s ease;
}

.navBar .navBar_list a:hover{
    color: black;
}

.navBar_button{
    border: none;
}

.navBar_button a{
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 10px;
    color: #FF161F;
}

footer{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-footer{
    height: 20px;
    margin-bottom: 1rem;
    color: #FF161F;
}

.iconos-container, .iconos-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.iconos-footer{
    border-radius: 40px;
    border: 1px solid #FF161F;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.iconos-footer:hover{
    background-color: black;
    filter: invert(1)
}

.menu-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style-type: none;
    color: #FF161F;
    font-size: 18px;
}

.menu-items{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.8;
}

.menu-items:hover{
    opacity: 1.5;
}

@media(max-width:768px){
    header{
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo{
        display: none;
    }

    .navBar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navBar_list{
        font-size: 32px;
        justify-content: center;
        align-items: center;
    }
}

/* ------------ PAGE: GALERY GRID ------------ */

.body-galery{
    background-color: grey;
    font-family: 'Poppins', sans-serif;
}

.title-galery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    background-color: black;
    font-size: 50px;
    color: #FF161F;
}

.caja_padre{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;

    width: 99%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px black;
    background-color: #ff161eda;
}

.imagen{
    border-radius: 12px;
    box-shadow: 0px 0px 20px black;
}

.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 12px;
}

@media(max-width:768px){

    .title-galery{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: black;
        font-size: 25px;
        color: red;
    }

    .caja_padre{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

/* ------------ PAGE: PALMARÉS ------------ */

.body-palmares{
    background-color: grey;
}

.title-primera{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 5px;
}

.trofeos-primera{
    display: flex;
    justify-content: space-evenly;
}

.cuadrado-primera{
    width: 140px;
    height: 100px;
    border: 1px solid white ;
    background: #FF161F;
    margin: 6px 6px 6px 6px;
    font-size: 70px;
    text-align: center;
    color: white;
}

.años-primera{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.title-copas-nacionales{
    background-color: black;
    color: white;
    text-align: center;
}

.title-internacionales{
    background-color: black;
    color: white;
    text-align: center;
}

.title-copas-afa-auf{
    background-color: black;
    color: white;
    text-align: center;
}