@media (max-width: 412px) {
  /* ------------ PAGE: INDEX ------------ */

  .table_container caption {
    font-size: 31px;
  }

  .table_container tr {
    font-size: 21px;
  }

  .row {
    flex-direction: column;
  }

  /* ------------ PAGE: CONTACTO ------------ */

  .body-contacto {
    background-image: none;
    background-color: white;
  }

  .titulo-secciones {
    font-size: 40px;
  }

  .p-del-titulo {
    text-align: center;
    font-size: 18px;
  }
}

/* ------------ PAGE: CONTACTO ------------ */
.form-consultas {
  width: 350px;
  display: flex;
  flex-direction: column;
}
