@media(max-width:412px){

    /* ------------ PAGE: INDEX ------------ */

    .resultados{
        background-image: url(../assets/img/fechas/independiente_platense_412px.png);
        margin-bottom: 1px;
    }

    .table_container caption{
        font-size: 31px;
    }

    .table_container tr{
        font-size: 21px;
    }

    .row{
        flex-direction: column;
    }

    /* ------------ PAGE: CONTACTO ------------ */

    .body-contacto{
        background-image: none;
        background-color: white;
    }

    .titulo-secciones{
        font-size: 40px;
    }

    .p-del-titulo{
        text-align: center;
        font-size: 18px;
    }
}

@media(max-width:390px){

    /* ------------ PAGE: INDEX ------------ */
    .resultados{
        background-image: url(../assets/img/fechas/independiente_platense_390px.png);
        background-repeat: no-repeat;
    }
}

@media (max-width:360px){

    /* ------------ PAGE: INDEX ------------ */
    .resultados{
        background-image: url(../assets/img/fechas/independiente_platense_360px.png);
        background-repeat: no-repeat;
    }

    /* ------------ PAGE: CONTACTO ------------ */
    .form-consultas{
        width: 350px;
        display: flex;
        flex-direction: column;
    }
}